.buttons {
	position: absolute;
	height: 85px;
	right: 0px;
	top: 5px;
}
.buttons.cols1 {
	width: 200px;
}
.buttons.cols2 {
	width: 410px;
}
.buttons.cols3 {
	width: 620px;
}
.buttons.cols4 {
	width: 830px;
}

.button, .textfield {
	-webkit-user-select: none;
	color: black;
	height: 20px;
	width: 160px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: absolute;
}
.button {
	cursor: pointer;
}
.textfield input {
	font-size: 0.8em;
	width: 156px;;
	padding: 0px;
	margin: 0px;
	height: 16px;
}

@media not screen and (device-aspect-ratio: 3/4) {
	.button:hover {
		background: rgb(190, 151, 138);
	}
}
button:active, 
.button.active {
	background: rgb(190, 151, 138);
}

.button.col1 {
	left: 0px;
}
.button.col2 {
	left: 210px;
}
.button.col3 {
	left: 420px;
}
.button.col4 {
	left: 630px;
}

.button.row1 {
	top: 0px;
}
.button.row2 {
	bottom: 0px;
}
